<div class="col-md-8 col-md-offset-2 borders">
  <article class="detail-article">
    <h1 class="article-detail-title"><%= @article.title %></h1>

    <div class="glyphicon glyphicon-calendar" id="article-date">
      <%= @article.created_at.strftime("%b %d %Y") %>
    </div>

    <div class="article-body">
      <%= simple_format(@article.body) %>
    </div>
  </article class="detail-article"> <br>
  <p>Written by <%= @article.user.email %></p>
  <div class="edit-delete">
    <% if @article.user.id == current_user.id %>
      <%= link_to 'Delete Article', article_path(@article.id), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-primary btn-space btn-md pull-right" %>
      <%= link_to 'Edit Article', edit_article_path(@article.id), class: "btn btn-primary btn-space btn-md pull-right edit-btn" %>
    <% end %>
  </div>

  <div class="col-md-8">
    <header>
      <h2>Comments</h2>
    </header>

    <%= form_for [@article, @comment], 
        html: { class: "form-horizontal", role: "form" } do |f| %>
      <!-- error section -->
      <% if @comment.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= pluralize(@comment.errors.count, "error") %>
              prohibited this comment from being saved:
            </h3>
            <div class="panel-body">
              <ul>
                <% @comment.errors.full_message.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <!-- Form section -->
    
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :body, 'New Comment' %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Your comment' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit 'Add Comment', class: "btn btn-primary btn-lg pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

